/* Main font and basic design for the webside */

a,
small,
li,
h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0%;
}
/*MAIN*/
main {
  background-color: #efe2d5;
  margin: 0vh;
}
h1 {
  margin: 3vh;
  color: #67625c;
}

h2 {
  margin: 0rem;
  color: #514d48;
  font-family: "Oswald", sans-serif;
  font-weight: 1000;
  align-items: center;
  justify-self: center;
  padding: 1%;
}

/* first image at the beginig */

.mainphoto {
  position: static;
  width: 100%;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.imgimain {
  width: 100%;
  grid-area: 1 / 1;
  height: auto;
}

.mainphoto a {
  grid-area: 1 / 1;
}

.text-over-mainp {
  grid-area: 1 / 1;
  padding-top: 5%;
}

.main-text {
  color: #514d48;
  margin: 0;
  font-size: 1.7rem;
  justify-self: center;
  align-items: center;
}

.main-para {
  margin: 0;
  color: #efe2d5;
  max-width: 100%;
  justify-self: center;
  align-items: center;
  font-size: 0.8rem;
}

@media screen and (min-width: 390px) {
  .main-text {
    font-size: 1.7rem;
  }

  .main-para {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 570px) {
  .main-text {
    font-size: 3rem;
  }

  .main-para {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 800px) {
  .main-text {
    font-size: 4rem;
  }

  .main-para {
    font-size: 1.8rem;
  }
}

@media (min-width: 1100px) {
  .main-text {
    font-size: 5rem;
  }

  .main-para {
    font-size: 2rem;
  }
}

/* Puzzle image display in main page */
.puzzles-main-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 0.13rem;
  justify-items: center;
}

@media screen and (min-width: 570px) {
  .puzzles-main-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media screen and (min-width: 800px) {
  .puzzles-main-grid {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

@media screen and (min-width: 1100px) {
  .puzzles-main-grid {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}

.puzzles-photos {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 2%;
  justify-items: center;
}

.heart-outline {
  width: 1.6rem;
  grid-area: 1 / 1;
  justify-self: end;
  margin: 0.5vw;
}

.puzzles-photos a {
  grid-area: 1 / 1;
}

.puzzles-pieces {
  width: 16rem;
  height: 20rem;
}

.PUZ-NAME {
  margin: 0rem;
  color: #514d48;
  font-weight: 400;
  justify-self: start;
}

.price-puz {
  margin: 0rem;
  color: #514d48;
  font-weight: 400;
  padding-left: 1%;
  padding-bottom: 2vh;
}
