/* Main font and basic design for the webside */

p,
a,
small,
li,
h1,
h2 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0%;
}

/*HEADER*/
header {
  position: sticky;
  top: 0;
}
header {
  background-color: #67625c;
  padding-left: 1rem;
  margin: 0rem;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav ul {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-left: 3 rem;
}

.site-nav li {
  margin-left: auto;
  margin-right: 3vw;
  justify-self: end;
}
.site-nav a {
  font-size: 1.2rem;
  font-weight: 400;
}

a {
  color: #d8c7b5;
}

.logo {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  color: #d8c7b5;
  height: 3rem;
  justify-self: start;
}

.heart-icon {
  width: 1.5rem;
}
.search-icon {
  width: 2rem;
}
.Cart-icon {
  width: 1.7rem;
}

/*MAIN*/
main {
  background-color: #efe2d5;
  margin: 0vh;
}
h1 {
  margin: 3vh;
  color: #67625c;
}

.imgimain {
  display: flex;
  justify-self: stretch;
}

h2 {
  margin: 0rem;
  color: #67625c;
  align-items: center;
}

.puzzles-main-grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 450px) {
  .puzzles-main-grid {
    grid-template-columns: 1fr;
    column-gap: 0.13rem;
  }
}
@media screen and (min-width: 700px) {
  .puzzles-main-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .puzzles-main-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.puzzles-photos {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 2%;
}

.heart-outline {
  width: 1.6rem;
  grid-area: 1 / 1;
  justify-self: start;
  margin: 0.5vw;
}

.puzzles-photos a {
  grid-area: 1 / 1;
}

.puzzles-pieces {
  width: 20rem;
  height: 28rem;
}

/*FOOTER*/
footer {
  margin-top: 3rem;
  margin: 0;
  border: top 1px;
  border-color: #67625c;
  background-color: #67625c;
  color: #d8c7b5;
}

footer {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 15vh;
  grid-template-areas:
    "footer1 footer2 footer3"
    "copyr  . .";
  justify-items: stretch;
}

.footer1 {
  grid-area: footer1;
  font-weight: 300;
  margin-left: 1rem;
}

.footer1 :first-child {
  font-weight: 400;
  font-style: bold;
}
.instagram-icon {
  width: 1.5rem;
}
.facebook-icon {
  width: 1.5rem;
}

.footer2 {
  grid-area: footer2;
  margin-left: 1rem;
  align-items: center;
}

.footer3 {
  grid-area: footer3;
  margin-left: 1rem;
  align-items: center;
}

.copyr {
  margin-left: 1rem;
  grid-area: copyr;
}
