/* elegir el tipo de letra para el documento */

* {
  .oswald-pfont {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /*<weight>: Use a value from 200 to 700
  <uniquifier>: Use a unique and descriptive class name*/
  }
}
