/* product design */
.product-descp1,
.product-descp2 {
  font: 300;
  padding-left: 3%;
  margin: 0rem;
  color: #514d48;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  padding-right: 3%;
  padding-bottom: 5%;
}
h3 {
  margin: 0rem;
  color: #514d48;
  font-family: "Oswald", sans-serif;
  font-size: 500;
  align-items: start;
  justify-self: start;
  padding-left: 3%;
}

.main-puz-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 0.13rem;
  justify-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

@media screen and (min-width: 750px) {
  .main-puz-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding-top: 4vh;
    justify-content: space-between;
  }
}

.product-main-1 {
  padding-left: 2%;
}

.product-main-1 {
  display: grid;
  grid-template-columns: 1fr;
  /* padding-left: 2%; */
  justify-items: center;
}

.product-main-1 {
  display: grid;
  width: 18rem;
  height: 22rem;
}

.grid-product-sp {
  display: grid;
  padding: 2%;
}

/* Cart design/ I continued to the cart.css */

.cart-butt {
  display: flex;
  gap: 20px;
  font-weight: 300;
  font-family: "Oswald", sans-serif;
  color: #d8c7b5;
  padding: 0%;
  align-items: center;
  justify-self: center;
}

.product-p-d {
  font-size: 300;
}

button {
  background-color: #67625c;
  border-color: #d8c7b5;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.CARTT {
  align-content: start;
  padding-left: 5%;
  align-items: start;
  display: flex;
  padding-top: 2%;
  margin: 0;
}

.cart-grid-p {
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  padding: 3%;
  padding-top: 0%;
}
