.product-descp1,
.product-descp2 {
  font: 300;
  padding-left: 3%;
  margin: 0rem;
  color: #514d48;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  padding-right: 3%;
}
h3 {
  margin: 0rem;
  color: #514d48;
  font-family: "Oswald", sans-serif;
  font-size: 500;
  align-items: start;
  justify-self: start;
  padding-left: 3%;
}

.main-puz-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 0.13rem;
  justify-items: center;
}

@media screen and (min-width: 570px) {
  .main-puz-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 4%;
  }
}

.product-main-1 {
  padding-left: 2%;
}

.product-main-1 {
  display: grid;
  grid-template-columns: 1fr;
  /* padding-left: 2%; */
  justify-items: center;
}

.product-main-1 {
  display: grid;
  width: 20rem;
  height: 24rem;
}

.grid-product-sp {
  display: grid;
  padding-left: 2%;
}

.history {
  margin: 0vh;
  color: #514d48;
  font-weight: 200;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 2%;
  padding-right: 2%;
}

.cart-butt {
  display: flex;
  gap: 20px;
  font-weight: 300;
  font-family: "Oswald", sans-serif;
  color: #d8c7b5;
  padding: 0%;
  align-items: center;
  justify-self: center;
}

.product-p-d {
  font-size: 300;
}

button {
  background-color: #67625c;
  border-color: #d8c7b5;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}
